$colorHeader: wheat;
$background: crimson;
$textSize: 3em;


.main-div {
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    h1 {
        color: $colorHeader;
        font-family: cursive;
        text-align: center;
        font-size: $textSize;
        border-bottom: solid;
        border-color: bisque;
        border-radius: 2em;
    }
}

h1:hover {
    color: black;
}