nav {
    border-bottom: solid;
    border-color: rgb(148, 119, 65);
    text-align: center;
}

.a-nav {
    font-size: 4em;
    font-style: italic;
    font-family: Impact, fantasy;
    color: wheat;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 1em;
}

.a-nav:hover {
    background-color: rgb(233, 241, 247);
    border-radius: 80px;
    border: solid;
    border-bottom-color: black;
    color: black;
}